<h2>{{ isEditMode ? 'Editar Héroe' : 'Agregar Héroe' }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">Nombre del héroe:</label>
    <input id="name" type="text" formControlName="name" />

    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" style="color: red;">
        <small *ngIf="form.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</small>
    </div>

    <button type="submit" [disabled]="form.invalid">{{ isEditMode ? 'Guardar cambios' : 'Agregar' }}</button>
</form>